
.home-page{
    width: 100%;
    background-color: #d8dbe6;
}

.home-layout{
    width: 75%;
    /* 没有做页面自适应，因此控制了整个页面的大小范围 */
    min-width: 1100px;
    display: flex;
    margin: auto;
}

.home-sider{
    background-color: #2D4054!important;
    border-right: 1px solid  grey;
    height: auto;
    min-height: calc(100vh - 60px - 16px);
    width: 200px;
    min-width: 200px;
    font-size: 1rem;
    text-align: left;
}

ul{
    padding-inline-start: 0px !important;
}

.home-menu>li{
    list-style-type:none;
    height: 45px;
    line-height: 45px;
}
.home-menu>li>span{
    margin-left: 8px;
    color: #FFF;
} 
.home-menu>li>span:hover{
    color: #00B4CF;
} 

.home-menu > .ant-menu-item-selected {
    background-color: #435466;
}
.home-menu > .ant-menu-item-selected>span{
    color: #00B4CF;
}

.content-layout{
    width: 80%;
}

.content{
    border: 1px solid #fff ;
    height: calc(100% - 16px);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}
